extends template

block extraScripts
    //link(rel='stylesheet' href='/stylesheets/signin.css')
    script(src="/javascripts/quizes.js")

block content
    br
    form.form-signin(style='text-align: center!important;' method='post')
        each val, key in quizdata
            div.form-group.row
                if key != "uuid"
                    label #{val['prompt']}
                    - var options = JSON.parse(val['options']);
                    - for(let i = 0;i < options.length; i++) {
                    - var currentKey = key;
                    div.form-check-inline.btn-group.col(data-toggle='buttons')
                        if (finishedQuiz)
                            if (validatedData[key][1] === false && validatedData[key][0] === options[i])
                                label.btn.btn-success 
                                    input(type='radio' name=currentKey value=options[i] disabled=true checked)
                                    p #{options[i]}
                            else if (validatedData[key][1] !== false && validatedData[key][0] === options[i])
                                label.btn.btn-danger 
                                    input(type='radio' name=currentKey value=options[i] disabled=true checked)
                                    p #{options[i]}
                            else if (validatedData[key][1] !== false && validatedData[key][1] === options[i])
                                label.btn.btn-success 
                                    input(type='radio' name=currentKey value=options[i] disabled=true checked)
                                    p #{options[i]}
                            else
                                label.btn.btn-primary 
                                    input(type='radio' name=currentKey value=options[i] disabled=true)
                                    p #{options[i]}
                        else
                            label.btn.btn-primary 
                                input(type='radio' name=currentKey value=options[i])
                                p #{options[i]}
                    - }
                    br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit