extends template

block extraScripts
    link(rel='stylesheet' href='/stylesheets/signin.css')
    script(src="/javascripts/quizes.js")

block content
    form.form-signin(style='text-align: center!important;' method='post')
        each val, key in quizdata
            label #{val['prompt']}
            - var options = JSON.parse(val['options']);
            - for(let i = 0;i < options.length; i++) {
            - var currentKey = key + "opt" + (i+1);
            div.form-check
                input.form-check-input(type='radio' name=currentKey value=options[i])
                label.form-check-label(for=currentKey) #{options[i]}
            - }
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit